<ng-container *ngIf="!downloadActive; else downloadActiveTemplate">

  <p>
    Clicking this button will start a background process to download the events of the last 7 days.
  </p>
  <p>
    Each downloaded video will be autonatically recognised, and tagged for known unknown persons.
  </p>
  <p>
    You can follow the progress in this tab, and the results in the Last Week section.
  </p>

  <button type="button"
    class="btn btn-primary"
    (click)="onStartButtonClicked()"
    >
    Start download
  </button>
</ng-container>

<ng-template #downloadActiveTemplate>
  <p>Download im progress</p>
  <pre>{{weekDownloadProgress | json}}</pre>

</ng-template>
