<accordion [isAnimated]="true">
  <accordion-group *ngFor="let daysData of days" heading="{{daysData.name}} : {{(daysData.events | async)?.length}} events">


    <div *ngIf="daysData.events | async; else loading">
      <ringface-days-events [events] = daysData.events [date] = daysData.date></ringface-days-events>

    </div>
    <ng-template #loading>Loading events...</ng-template>

    <button type="button"
      class="btn btn-primary"
      (click)="onDownloadEventsFromRing(daysData)"
      [disabled] = "daysData.processingTriggered"
      >
      Download events
    </button>

  </accordion-group>



</accordion>
